@import "~bootstrap/scss/bootstrap";

html,
body,
.modal-content {
  overflow: hidden;
  background-color: #37425b;
}

#earth {
  padding-top: 5%;

  svg {
    circle {
      fill: #def3f6;
      stroke: black;
      stroke-width: 0.2;
    }

    g {
      path {
        stroke: black;
        stroke-width: 0.3;
      }
    }
  }
}

#happinessScore {
  position: absolute;
  top: 2%;
}

#timeSliderContainer {
  position: absolute;
  bottom: 2%;
  min-width: 400px;
}

.sliderLabels {
  list-style-type: none;
  margin-bottom: 0px;
  padding-left: 0px;
  padding-right: 0px;
  margin-right: 0px;
  text-align: justify;
  display: flex;
  justify-content: space-between;

  li {
    display: inline-block;
    color: white;
  }
}

#scatterplot {
  color: white;
  overflow: hidden;

  rect {
    cursor: pointer;
    &:hover {
      opacity: 0.5;
    }
  }

  .legend {
    text {
      cursor: pointer;
      &:hover {
        opacity: 0.5;
      }
    }
  }
}
